body{
    margin:auto;
    background: #fff;
}
/*flipkart explore plus */
.row1{
    background-color: #2874f0;
}
.d-flex{
    height:70px;
}
.d-flex>img{
    margin-left:14%;
    background-color: #2874f0;
}
.explore{
    margin-left:-6%;
    font-size: 15px;
    font-style: italic;
    color:white;
    margin-top:1%;
}
.plus{
    color:rgb(238, 238, 90)
}
/****/
/*searchbar*/

a{
    text-decoration: none;
}
.btn_search{
    height:40px;
    margin-left:45%;
    margin-top:-3.5%;
    background-color: #fff;
}
/***********/
/*Login dropdown*/
.dropbtn {
    background-color: #ffffff;
    color: rgb(64, 64, 238);
    font-size: 16px;
    border: none;
    cursor: pointer; 
    margin-top:-9.5%;
    width:135px;
    height:37px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left:64%;
    height:30px;
    margin-top:-4%;  
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    display: block;
    width: 60px;
}    
/*more dropdown*/
.fa-angle-down{
    margin-top:10%;
    margin-left:8%;
}
.dropbtn_more {
    background-color: #2874f0;
    color: white;
    height:40px;
    width:80px;
    margin-top:-14.5%;
    border:1px solid #2874f0;
}
  
  /* The container <div> - needed to position the dropdown content */
.more {
    position: relative;
    display: inline-block;
    margin-left:75%;
    font-family:roboto,arial,sans-serif;
    margin-top:-4%; 
}
/* Dropdown Content (Hidden by Default) */
.dropdown_more {
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    min-width: 200px;
}
  
  /* Links inside the dropdown */
.dropdown_more a {
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown_more a:hover {
    background-color: #fffefe;
    cursor:pointer;
}
  
.more:hover .dropdown_more {
display: block;
}  
hr{
    color:lightgrey;
}
/* cart*/
.cart{
    margin-left:84%;
    width:30px;
    height:30px;
    margin-top:-3.5%;
}
/*category section*/
.row2{
    background-color:white;
    height:160px;
    width:100%;
}
.category_offer{
    margin-left: 5%;
    margin-top:2%;
    display:inline-block;
}
.category{
    height:80px;
    width:95px;
    margin-top:2%;
    margin-left:6%;
    float:left;
    font-size: 14px;
    font-weight:500
} 
.category:hover{
    color:#2874f0;
}   
.dropbtn_fashion {
    background-color: #2874f0;
    color: white;
    height:40px;
    width:80px;
    margin-top:-3.5%;
    border:1px solid #2874f0;
}
/* Dropdown Content (Hidden by Default) */
.dropdown_fashion {
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    min-width: 200px;
}
  
  /* Links inside the dropdown */
.dropdown_fashion a {
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown_more a:hover {
    background-color: #fffefe;
    cursor:pointer;
}
  
.fashion:hover .dropdown_fashion {
display: block;
} 
 /*Row 4  */
.row4{
    height:550px;
}
/* Offer Zone*/
.topOffers{
    margin-left:4%;
    margin-top:3%;
    display: inline-block;
}
.card_offer{
    margin-left:4%;
    margin-top:2%;
    display:inline-block;
}
.btn-primary{
    margin-left: 3%;
}
.mainCol{
    width:100%;
    height:500px;
    background-color:#2c2235;
    margin-top:3%;
}
.col1{
    height:300px;
    width:200px;
    color:white;
    font-size: 12px;
    margin-left:2%;
    display: inline-block;
}
.col2{
    height:300px;
    width:200px;
    color:white;
    line-height:1.2px;
    font-size: 12px;
    margin-left:3%;
    margin-top:3%;
    display: inline-block;
}
.col3{
    height:300px;
    width:200px;
    color:white;
    line-height:1.2px;
    font-size: 12px;
    margin-left:3%;
    margin-top:3%;
    display: inline-block;
}
.address{
    margin-left:7%;
    display:inline-block;
    color:white;
}
.row5{
    height:250px;
    width:90%;
    margin-left: 1%;
    display:inline-block;
    margin-top:2%;
}
.u_199{
    height:150px;
    width:250px;
    border-radius:5%;
    background-color:rgb(66, 66, 241);
    margin-left: 8%;
    display:inline-block;
    color:white;
}
.u_299{
    height:150px;
    width:250px;
    border-radius:5%;
    background-color:rgb(241, 206, 91);
    margin-left: 5%;
    display:inline-block;
    color:white;
}
.u_499{
    height:150px;
    width:250px;
    border-radius:5%;
    background-color:rgb(85, 226, 72);
    margin-left: 5%;
    display:inline-block;
    color:white;
}
.u_699{
    height:150px;
    width:250px;
    border-radius:5%;
    background-color:rgb(72, 75, 226);
    margin-left: 5%;
    display:inline-block;
    color:white;
}
/*Products*/
.row6{
    
}
.row6>hr{
    color:rgb(17, 17, 17);
}
.card_product{
    height:500px;
    width:400px;
    display:inline-block;
    margin-left:5%;
    margin-top:2%;
    border:1px groove black;
}
.card_product>img{
    width:250px;
    height:200px;
    position:center;

}
.fa-star{
    color:rgb(233, 233, 75);
}
.fa-star-half-alt{
    color:rgb(233, 233, 75);

}
.card_product:hover{
    transform:scale(1.1);
 }






@media screen and (max-width:1600px){
    body{
        background-color: white;
    }
}

@media screen and (max-width:1400px){
    body{
        background-color: white;
    }
    .col1{
        height:300px;
        width:200px;
        margin-left:1%
    }
    .col2{
       
        margin-left:1%;
    }
    .col3{
        height:300px;
        width:200px;
        margin-left:1%;
    }
    .card{
        margin-left:2%;
        width:120px;
        height:200px;
    }
    .topOffers{
        margin-left:3%;
    }
    .d-flex>img{
        margin-left:12%;
    }
}

@media screen and (max-width:1200px){
    body{
        background-color: white;
    }
    .topOffers{
        margin-left:2%;
        margin-top:3%;
        display: inline-block;
    }
    .card{
        margin-left:2%;
        width:50px;
        height:100px;
    }
    .u_199{
        height:150px;
        width:220px;
        margin-left: 2%;
    }
    .u_299{
        height:150px;
        width:220px;
        margin-left: 2%;
    }
    .u_499{
        width:220px;
        margin-left: 2%;
    }
    .u_699{
        width:220px;
        margin-left: 2%;
    }
    .col1{
        height:300px;
        width:180px;
        margin-left:1%;
    }
    .col2{
       
        margin-left:1%;
    }
    .col3{
        height:300px;
        width:180px;
        margin-left:-2%;
    }
    .d-flex>img{
        margin-left:10%;
    }
    .explore{
        margin-left:-7%;
    }
    .category_offer{
        margin-left: 4%;
    }
    .category{
        height:80px;
        width:95px;
        margin-left:4%;
    }
    .d-flex{
        height:50px;
    } 
    
}
@media screen and (max-width:1000px){
    body{
        background-color: white;
    }
    .col1{
        height:300px;
        width:180px;
        margin-left:-1%;
    }
    .col2{
       
        margin-left:-1%;
    }
    .col3{
        height:300px;
        width:180px;
        margin-left:-5%;
    }
    .d-flex>img{
        margin-left:9%;
    }
    .explore{
        margin-left:-8%;
    }
    .btn_search{
        height:40px;
        margin-left:45%;
        margin-top:-4%;
        background-color: #fff;
    }
}