
body{
    margin:auto;
}
/*search*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

a{
    text-decoration: none;
}
.card{
    width: 200px;
    border-radius: 5%;
    background: #28346c;
    color: #fff;
    margin-left:3%;
  }
.card:hover {
    transform: scale(1.1);
}
.card-img-top{
    width:10%
}  
.headingh1{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #28346c;
}
.container-fluid{
   height:500px;
   width:100%;
   background-image: url("images/food-wallpaper.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.btn{
    background-color:white ;

}
.col{
    justify-content: flex-end;
}
#coupon{
    position:absolute;
    height:10px;
    width:10px;
    margin-left: 26%;
    
    margin-top:-18%;
    z-index:1;
}
#coupon>img{
    height:400px;
    width:800px;
    z-index:100;
    background-size: cover;
}
.fa-lightbulb{
    background-color: white;
}
#logo{
    height:125px;
    width:125px;
    align-items: center;
    justify-content:center;
    display:flex;
    background-color: white;
    border-radius: 50%;
    font-weight:bold;
    margin:auto;
    margin-left: -1%;
    margin-top: -25%;
    position: absolute;
    font-size:60px;
    color:#df7839
}
.fa-cloud-sun{
    height:20px;
    width:50px;
}
.fa-lightbulb{
    height:20px;
    width:50px;
}
.rest_heading{
    margin-left:1%;
    margin-top:6%;
}
.search{
    width:60%;
    margin:auto;
}
.dropdown-toggle{
    height:80px;
    margin-left: 35%;
    margin-top: 0px;
    position: absolute;
    color:black;
}
#restaurants{
    height:20px;
    width:30%;
}
.dropdown{
    height:60px;
    width:60%;
    margin-left: 27%;
    margin-top: -25%;
    position: absolute;
}
select{
    height:60px;
    width:35%
}

.restaurantSelect{
    width:50%
}
/*search ends*/

/*Menu*/
.menu{
    height:750px;
    
}
#quickSearch{
    display:block;
    color:#ac2e31;
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 7%;
    margin-top:7%;
}
#quickSearch:hover{
    color:rgb(218, 104, 38);
}
#quickHeading{
    display:block;
    color:#a19f9f;
    font-size:25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left:7%; 
    line-height: 1.5; 
}

#quickHeading:hover{
    color:#d4960e;
}
a{
    text-decoration:none;
}
.mainTile{
   height:100%; 
   width:90%;
   margin-left:76px;
   margin-top:28px;
}
.card{
    float:left;
}
a{
    text-decoration: none;
}
.card-img-top{
    height:50px;
}
.card-body{
    color:white;
}
.card-text{
    color:blue;
}
.card:hover{
    transform:scale(1.1);
 }
.componentSubHeading{
    color:gray;
    font-size: 15px;
}
.places{
    margin-left:4%;
    margin-top:4%;
    height:200px;
    width:90%;
    display: inline-block;
}
.place1{
    margin-left:4%;
    width:200px;
    display: inline-block;
    font-size: 20px;
}
.below{
    height:350px;
    border:2px solid green;
    background-color:rgb(250, 235, 208);
}
.footer_row1{
    width:200px;
    margin-left:7%;
    display: inline-block;
}
.footer_row2{
    width:200px;
    margin-left:4%;
    display: inline-block;
    margin-top:2%;
}
@media screen and (max-width:1600px){
    body{
        background-color: rgb(210, 231, 241);
    }
}

@media screen and (max-width:1400px){
    body{
        background-color: rgb(168, 221, 201);
    }
    .btn{
        margin-left:-4%;

    }
}

@media screen and (max-width:1200px){
    body{
        background-color: rgb(245, 197, 242);
    }
    .menu{
        height:1100px;
    }
    .dropdown{
        margin-left:28%;

    }
    
    .rest_heading{
        margin-top:10%;
    }
    
}

@media screen and (max-width:1000px){
    body{
        background-color: rgb(215, 230, 178);
    }
    .menu{
        height:1100px;
    }
    .dropdown{
        margin-left:30%;

    }
    
     
}

@media screen and (max-width:800px){
    body{
        background-color: rgb(224, 201, 182);
    }
   
    #logo{
        margin-top:-8%;
    }
    .rest_heading{
        margin-top:17%;
    }
    
    .dropdown{
        margin-left: 27%;
        margin-top: -3%;
    }
    .menu{
        height:1100px;
    }    
}

@media screen and (max-width:600px){
    body{
        background-color: rgb(183, 233, 195);
    }
    .menu{
        height:1900px;
    } 
    .rest_heading{
        margin-top:24%;
    }
    .dropdown{
        margin-left: 25%;
        margin-top: 0%;
    }
}